[submodule "src/mysqli"]
	path = src/mysqli
	url = https://gitee.com/xieguigang/mysqli.vb.git
[submodule "src/web/framework/php.NET"]
	path = src/web/framework/php.NET
	url = https://gitee.com/xieguigang/php-dotnet.git
